.Gif {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin-bottom: 15px;
}

.Gif img {
  object-fit: contain;
}

.Gif h4 {
  margin: 0 0 15px;
}
